@import 'styles/vars';

.cookieBar {
  z-index: 1;
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 100%;
  padding: 12px;

  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  text-align: center;

  background: var(--color-bcg);

  transform: translateX(-50%);

  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    padding: 16px;
  }
}

.cookieText {
  // color: var(--color-dark);
  // font-size: 1.1rem;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  font-weight: 400;

  @media screen and (max-width: 1279px) {
    margin-bottom: 16px;
    font-size: 1rem;
  }

  @media screen and (min-width: 1200px) {
    line-height: 150%;
    color: #000;
    // font-weight: 400;
    font-size: 20px;
  }
}

.actionsContainer {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btnCookies {
  position: relative;
  min-width: 64px;
  padding: 6px 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-accent);
  user-select: none;
  vertical-align: middle;

  font-size: 0.9rem;
  line-height: 1.75;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  border: 1px solid transparent;
  border-radius: 6px;
  color: var(--color-white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  @include Animation(box-shadow);

  &:hover,
  &:focus {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  @media screen and (min-width: 1280px) {
    padding: 10px 32px;

    font-size: 1.1rem;
  }
}
