.text {
  // font-weight: 300;
  // font-size: 0.9rem;
  // line-height: 1.3em;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  font-weight: 400;

  @media screen and (min-width: 1200px) {
    font-weight: 400;
    font-size: 20px;
  }
}

.text > p:not(:last-child) {
  margin-bottom: 6px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 24px;

  @media screen and (min-width: 1280px) {
    gap: 24px;
    margin-top: 28px;
  }
}
