:root {
  --color-white: #fff;
  --color-dark: #2d2d2d;
  --color-footer: #50806b;

  --color-bcg: #fdf3d4;

  --color-primary: #e8edde;
  --color-accent: #f56043;
  --color-accent-variant: #0c092a;

  --toastify-color-dark: #0c092a;
}

// Transition with default value
@mixin Animation($properties...) {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
