@import 'styles/vars';

// .header {
//   background-color: #50806b;
//   font-family: 'Poppins', sans-serif;
// }

.navBlock {
  min-height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  display: none;

  @media screen and (min-width: 1280px) {
    column-gap: 35px;
    display: flex;
    justify-content: flex-end;
  }
}

.link {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 600;

  &:hover {
    text-decoration: none;
    // transition: 0.9s;
  }
}

.linkPlay {
  width: 147px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 52px;
  background: #fff;
  color: #000;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px 2px rgb(0 0 0 / 15%);
}

.notice {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
