.googleLink {
  display: inline-block;
  width: 167px;
  height: 52px;
  display: block;
  width: 167px;
  height: 52px;
  margin: 0 auto;

  // @media screen and (min-width: 1200px) {
  //   margin: initial;
  // }
}
