@import 'styles/vars';

.section {
  // background-image: url(../../images/bg.png);
  background-size: cover;
  // padding: 25px;
  @media screen and (min-width: 1200px) {
    // background-image: url(../../images/bgDesk.png);
    // background-position: center;
  }
}

.third {
  composes: section;
  // background: var(--color-bcg);

  // @media screen and (max-width: 1279px) {
  //   padding: 60px 0 60px 0;
  //   background: var(--color-bcg);
  // }
}

.second {
  composes: section;
  background-image: url(../../images/bgSecond.png);

  @media screen and (max-width: 1200px) {
    padding: 0px 0 60px 0;
    margin-top: 195px;
  }
  @media screen and (min-width: 1200px) {
    padding: 63px 0;
    background-image: url(../../images/bgSecondDesk.png);
  }
}

.fourth {
  padding: 25px;
}

// .SectionBg {
//   @media screen and (min-width: 1200px) {
//     background-image: url(../../images/bgDesk.png);
//   }
// }

.about {
  padding: 25px !important;
}
