@import 'styles/vars';

.section {
  background-image: url(../../images/bg.png);
  background-size: cover;
  @media screen and (min-width: 1200px) {
    background-image: url(../../images/bgDesk.png);
    background-position: center;
  }
}

.third {
  composes: section;
  background: #d7dbcf;

  // @media screen and (max-width: 1279px) {
  //   padding: 60px 0 60px 0;
  //   background: var(--color-bcg);
  // }
}

.second {
  composes: section;
  background: var(--color-bcg);

  @media screen and (max-width: 1279px) {
    padding: 60px 0 60px 0;
  }
  @media screen and (min-width: 1280px) {
    padding: 120px 0;
  }
}

.SectionBg {
  @media screen and (min-width: 1200px) {
    background-image: url(../../images/bgDesk.png);
  }
}
