.burgerIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.burgerIcon span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
}

.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.burgerDropdown {
  height: 290px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  /* border: 1px solid #000; */
  padding: 10px;
  /* gap: 3px; */
  width: 80%;
  justify-content: space-around;
  align-items: center;
  z-index: 9;
  font-size: 2em;
  background-color: #fdf3d4;
  border-bottom-left-radius: 139px;
  text-decoration: underline;
  color: #fff;

  box-shadow: 0 0 20px 2px #000000ab;
}

.burgerDropdown a {
  text-decoration: none;
  color: #f55f45;
  margin-bottom: 10px;
}

.burgerMenu {
  padding: 15px;
  background: transparent;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
