@import 'styles/vars';

.title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 38px;
  line-height: 130%;
  color: #fff;
  text-align: center;

  @media screen and (min-width: 1200px) {
    position: inherit;
    margin-top: 0px;
    text-align: left;
    color: #f55f45;
    font-size: 64px;
  }
}

.title2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 38px;
  line-height: 130%;
  color: #f55f45;
  text-align: center;
  @media screen and (min-width: 1280px) {
    position: inherit;
    margin-top: 0px;
    color: #f55f45;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.title3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 38px;
  line-height: 130%;
  color: #fff;
  text-align: center;

  @media screen and (min-width: 1200px) {
    position: inherit;
    margin-top: 0px;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.textWrap {
  @media screen and (min-width: 1200px) {
    padding: 50px 0px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}

.textWrapSecond {
  @media screen and (min-width: 1280px) {
    flex: 1;
  }
}

.textWrapThird {
  @media screen and (min-width: 1200px) {
    max-width: 770px;
    padding: 120px 0 30px;
  }

  @media screen and (min-width: 1920px) {
    max-width: 466px;
  }
}

.textWrapFourth {
  @media screen and (min-width: 1280px) {
    padding-top: 58px;
  }
}

.text {
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  font-weight: 400;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    width: 520px;
    text-align: left;
    color: #000;
  }
}

.text2 {
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-bottom: 35px;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    width: 505px;
    text-align: center;
    // text-align: justify;
  }
}

.text3 {
  font-size: 16px;
  line-height: 150%;
  color: #000;
  font-weight: 400;
  text-align: center;
  // margin-bottom: 35px;
  padding: 16px;

  @media screen and (min-width: 1200px) {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
  }
}

.text4 {
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  font-weight: 400;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    line-height: 150%;
  }
}

.btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn2 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}

.imgWrap {
  max-width: 380px;

  @media screen and (max-width: 1200px) {
    margin: 0 auto;
    padding: 0 16px;
  }

  @media screen and (min-width: 1200px) {
    // margin: 0 auto;
    max-width: 663px;
    width: 650px;
    height: 715px;
  }
}

.imgWrapSecond {
  max-width: 375px;
  margin: 0 auto;

  @media screen and (min-width: 1280px) {
    width: 615px;
    // height: 220px;
    max-width: none;
  }
}

.imgWrapThird {
  @media screen and (max-width: 1200px) {
    max-width: 369px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    // position: absolute;
    top: 15%;
    right: 0;
  }
}

.addImg {
  max-width: 369px;
  margin: 0 auto;

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.imgWrapFourth {
  max-width: 450px;
  margin: 0 auto;

  @media screen and (min-width: 1280px) {
    grid-row: 3/-2;
  }
}

.imgThird {
  @media screen and (min-width: 1200px) {
    max-width: 525px;
    width: 401.924px;
    height: 434.496px;
    margin-top: -30px;
  }
}

.SectionBg {
  @media screen and (min-width: 1200px) {
    background-image: url(../../images/bgDesk.png);
  }
}

.BG {
  background: var(--color-bcg);
}

.btnFourth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  padding: 20px;
  @media screen and (min-width: 1200px) {
    gap: 70px;
    flex-direction: row;
  }
}

#fourth {
  background: #fdf3d4;
}

.imgFourth {
  width: 80px;
  height: 82.143px;
}

.downloadP {
  color: #f55f45;
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 128.6%; /* 36.008px */
  letter-spacing: 1.12px;

  @media screen and (min-width: 1200px) {
    color: #2d2d2d;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 128.6%; /* 46.296px */
    letter-spacing: 1.44px;
  }
}

.about {
  padding: 25px !important;
}
